{% extends 'aplicacion/base.html' %}

{% block title_pagina %}
<title>Perfil</title>
{% endblock title_pagina %}


{% block mi_contenido %}
    <h1>Perfil informacion</h1>
    
    <h6>
        {% if request.user.extensionusuario.avatar.url %}
        <br><center><img src={{request.user.extensionusuario.avatar.url}} width=60px> </center>
        {% else %}
        Imagen no cargada
        {% endif %}
        
        Nombre:  {{request.user.first_name}} <br>
        </li>
        <li>
            Apellido:  {{request.user.last_name}} <br> 
        </li>
        <li>
            Email: {{request.user.first_name}} <br>
        </li>
    </h6>

    <p>
    <a href={% url 'editar_perfil' %}>Editar datos</a> <br>
    <a href={% url 'cambiar_contrasenia' %}>Cambiar contrasenia</a>
    </p>
{% endblock mi_contenido %}