{% extends 'aplicacion/base.html' %}

{% block mi_contenido %}
<h2><a class="navbar-brand" href={% url 'index' %}>Index</a></h2>
<p>¡Hola! Somos Maria Luz Obregon y Felipe Mendes Diz, una pareja de estudiantes en constante crecimiento educacional.  </p> 
<h3>Sobre Maria Luz:</h3>
<p>Tiene 22 años y estudia Actuario en Economia en la Universidad de Buenos Aires. Es de Misiones y a los 17 años vino a vivir a CABA para estudiar en la facultad. Proximamente arranca a trabajar en la empresa Carestino. Le encanta estar con sus amigas y con su novio.</p>
<h3>Sobre Felipe:</h3>
<p>Tiene 23 años y le encanta jugar al golf. Estudia Administracion de Empresas en UADE. Juega al counter strike y, ¡es un excelente awper! Tiene la perra mas bella de la historia, India de raza Vizsla y tiene 8 años. </p>
<p>Hace muy poco tiempo nos mudamos juntos y queremos hacer un blog sobre nuestros vecinos. ¡Aca va!</p>
{% endblock mi_contenido %}
    
